@model COD.Models.Course
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m=>m.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Author)
        @Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Author, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Cost)
        @Html.EditorFor(m => m.Cost, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Cost, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Duration)
        @Html.EditorFor(m => m.Duration, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Duration, "", new { @class = "text-danger" } )
    </div>
    <div class="form-group">
        <button class="btn btn-info">Save</button>
    </div>
}